body {
    background-color: #FFFAF1;
    margin: 0 auto;
}

h1 {
    color: #E63A2D;
    font-size: 140px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
}

img {
    max-width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border: 10px solid #244A5A;

}

h2 {
    text-align: center;
    color: #E63A2D;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
}

.center1 {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.center2 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.center3 {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
}

.text_container {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #E63A2D;
    font-size: 20px;
    margin-right: auto;
    margin-left: 63vw;
}
