h1 {
    color: #E63A2D;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
}

img {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1.3%;
    max-width: 600px;
    border: 15px solid #244A5A;
    margin: auto;
    display: block;
    margin-top: -20px;

}

h2 {
    text-align: center;
    color: #E63A2D;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
}

.text_container a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #E63A2D;
    font-size: 23px;
    margin-right: auto;
    margin-left: 63vw;
    text-decoration: none;
}


.text_container a:hover {
    color: black;
}

@media (min-width: 520px) {
    h1 {

        font-size: 70px;

    }

    img {
        margin-top: -25px;
    }
}


@media (min-width: 680px) {
    h1 {

        font-size: 95px;

    }

    img {
        margin-top: -35px;
    }
}



@media (min-width: 750px) {
    h1 {

        font-size: 110px;

    }

    img {
        margin-top: -35px;
    }
}



@media (min-width: 930px) {
    h1 {

        font-size: 140px;

    }

    img {
        margin-top: -55px;
    }
}
