@media (min-width: 1014px) {
    .container {
        display: grid;
        grid-template-columns: 45% 55%;
        padding-bottom: 50px;
        grid-gap: 30px;
    }
}

.col a {
    color: #E63A2D;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.col a:hover {
    color: black;
}

.link {
    padding-bottom: 10px;
}
