@media (min-width: 1014px) {

    .container {
        display: flex;
        grid-gap: 30px;
        padding-bottom: 30px;
    }

    .col {
        flex: 1;
    }

    .tekst {
        order: 2;
    }

    img {
        margin-top: 20px;
    }
}

.col a {
    color: #E63A2D;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.col a:hover {
    color: black;
}

.link {
    padding-bottom: 10px;
}
