img {
    width: 100%
}

#menuknap {
    text-align: end;
    font-size: 25px;
    padding-top: 6px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.logo a {
    color: #E63A2D;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.logo a:hover {
    color: black;
}

.logo {
    padding-top: 15px;

}

p {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.7;
    font-size: 16px;
}


body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FFFAF1;
}


h2 {
    text-align: center;
    color: #E63A2D;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 600px) {
    h2 {
        font-size: 30px;
    }
}

@media (min-width: 770px) {
    h2 {
        font-size: 40px;
    }
}

@media (min-width: 1000px) {
    h2 {
        font-size: 50px;
    }

}

@media (min-width: 665px) {


    #menuknap {
        display: none;
    }

    .links a:hover {
        color: #E63A2D;
    }

    .links {
        padding-top: 15px;
        float: right;
    }

    .links a {
        font-size: 15px;
        padding: 1vw;
        color: black;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 10px;
        z-index: 1;
        text-align: left;
    }

    .dropdown_link {
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

}

@media (max-width: 660px) {

    .dropdown-content a {
        text-decoration: none;
    }

    .links {
        height: 120%;
        position: absolute;
        margin-top: 0;
        z-index: 1;
        background-color: floralwhite;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        top: 60px;
        width: 100%;
        text-align: center;
    }

    .links a {
        padding: 10px;
        font-family: 'Quicksand', sans-serif;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .links a:hover {
        color: #E63A2D;
    }

    .hidden {
        opacity: 0;
        transform: translateX(-100%);
    }

    .links {
        font-size: 30px;
    }

    .dropdown-content {
        font-size: 17px;
    }

    .logo a {

        font-size: 16px;

    }



}
