.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    grid-gap: 30px;
}

.col a {
    color: #E63A2D;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.col a:hover {
    color: black;
}

.link {
    padding-top: 20px;
}

img {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1.3%;
}
